body {
  background-color: #4d4d4d;
  font-family: 'Roboto', sans-serif;
  /*margin and padding set to 0 so the navbar reaches top and sides of page.*/
  margin: 0;
  padding: 0;
}

.center {
  padding: 20px 0;
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  float: right;
}

.navbar {
  background: #314570;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px #444444;
}

.front {
  background-image: url(https://images.unsplash.com/photo-1484347727553-f0643c73b62d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  margin: none;
}